<div mat-dialog-title class="flex items-center justify-between">
  <span>{{ title }}</span>
  <div>
    <button
    *ngIf="!isEdit"
      class="btn-blue mr-2"
      (click)="isEdit = true; title = 'Chỉnh sửa phòng ban'"
    >
      Sửa
    </button>
    <button (click)="deleteDepartment()" class="btn-red">Xóa</button>
  </div>
</div>
<div>
  <form [formGroup]="form">
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Tên</mat-label>
      <input matInput [readonly]="!isEdit" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Mô tả</mat-label>
      <textarea formControlName="desc" matInput [readonly]="!isEdit"></textarea>
    </mat-form-field>
    <div class="flex item-center justify-between">
      <div class="text-base font-medium italic" style="padding-top: 1.25rem">
        Danh sách nhân viên
      </div>
      <mat-form-field *ngIf="isEdit" appearance="legacy">
        <mat-label>Thêm nhân viên</mat-label>
        <mat-select (selectionChange)="change()" formControlName="addEmployee">
          <mat-option *ngFor="let e of employeeNotInDepartment" [value]="e">{{
            e.fullName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div class="table-wrapper">
    <table
      class="mt-2 w-full text-sm text-left text-gray-500 dark:text-gray-400 border"
    >
      <thead class="custom-thead sticky top-0 left-0 right-0 z-10">
        <tr class="custom-row">
          <th *ngFor="let header of headerList" scope="col" class="custom-th">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of listEmp" class="custom-row">
          <td *ngFor="let col of row.listCol" class="custom-td">{{ col }}</td>
          <td class="custom-td text-lg">
            <div *ngIf="isEdit" class="w-full text-center">
              <i
                (click)="delete(row)"
                class="cursor-pointer hover:opacity-70 fa-regular fa-trash-can"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn-white mr-2" (click)="close()">Hủy</button>
  <button class="btn-green" (click)="save()" *ngIf="isEdit">Lưu</button>
</div>
