<div mat-dialog-title class="flex items-center justify-between">
  <span>{{ title }}</span>
  <div class="flex items-center">
    <button
      *ngIf="!isEdit"
      class="btn-blue"
      (click)="isEdit = true; title = 'Chỉnh sửa thông tin nhân viên'"
    >
      Sửa
    </button>
    <button (click)="delete()" class="btn-red">Xóa</button>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="form" class="grid grid-cols-2 gap-x-4 gap-y-2">
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Họ tên</mat-label>
      <input [readonly]="true" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Vị trí công việc</mat-label>
      <mat-select [disabled]="!isEdit" formControlName="position">
        <mat-option *ngFor="let position of Positions" [value]="position.value">
          {{ position.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Vai trò trong hệ thống</mat-label>
      <mat-select [disabled]="!isEdit" formControlName="role">
        <mat-option *ngFor="let role of roleList" [value]="role.value">
          {{ role.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [appearance]="appearance">
      <mat-label>Phòng ban</mat-label>
      <mat-select [disabled]="!isEdit" formControlName="department">
        <mat-option
          *ngFor="let department of departmentList"
          [value]="department.departmentId"
        >
          {{ department.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn-white mr-2" (click)="close()">Hủy</button>
  <button class="btn-green" (click)="save()" *ngIf="isEdit">Lưu</button>
</div>
