:host ::ng-deep .mat-dialog-title {
  display: flex;
}

:host ::ng-deep .mat-dialog-actions {
  justify-content: end;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: black;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-outline {
  color: rgb(224 224 224);
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-disabled
  .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}
