<div class="flex items-center justify-end">
  <button class="btn-white" (click)="emit(false)">{{ buttons[0] }}</button>
  <button class="btn-blue" (click)="emit(true)" [disabled]="!isValid">
    {{ buttons[1] }}
  </button>
</div>
