<div mat-dialog-title>Thiết lập giờ chấm công</div>
<div class="mb-2 font-medium text-base">Giờ vào làm</div>
<form [formGroup]="form" class="flex justify-between items-center gap-x-4">
  <mat-form-field appearance="outline">
    <mat-label>Giờ</mat-label>
    <mat-select formControlName="hour">
      <mat-option *ngFor="let h of hours" [value]="h">
        {{ h }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phút</mat-label>
    <mat-select formControlName="minute">
      <mat-option *ngFor="let m of minutes" [value]="m">
        {{ m }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<app-option-btn
  [isValid]="true"
  (selected$)="handleEmitSelected($event)"
></app-option-btn>
