<div class="table-wrapper mt-1">
  <table
    class="w-full text-sm text-left text-gray-500 dark:text-gray-400 border"
  >
    <thead class="custom-thead sticky top-0 left-0 right-0 z-10">
      <tr class="custom-row">
        <th *ngFor="let header of headerList" scope="col" class="custom-th">
          {{ header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data" class="custom-row">
        <td *ngFor="let col of row.listCol" class="custom-td">{{ col }}</td>
        <td *ngIf="isShowEdit" class="custom-td text-lg">
          <div class="w-full text-center">
            <i
              (click)="edit(row.id)"
              class="cursor-pointer mr-3 hover:opacity-70 fa-regular fa-pen-to-square"
            ></i>
            <i
              (click)="delete(row.id)"
              class="cursor-pointer hover:opacity-70 fa-regular fa-trash-can"
            ></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
