.container {
  background: url("./../../../../assets/image-login.jpg") no-repeat left top,
    linear-gradient(#eb01a5, #d13531);
  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  color: white;
  padding: 4px;
  border-radius: 4px;
  &:hover {
    opacity: 0.7;
  }
  &-login {
    background-color: #0073e6;
  }
}

:host ::ng-deep .ant-card-body {
  padding: 12px 12px 20px;
}
