<div
  #container
  class="object-cover h-screen flex justify-center items-center container"
  [style.background-image]="backgroundLogin"
>
  <nz-card
    class="w-[500px] h-fit m-auto rounded-2xl px-3 pt-2 pb-1 flex flex-col"
    [nzBordered]="false"
  >
    <form [formGroup]="form">
      <div class="text-center">
        <div class="font-medium text-2xl">Đăng ký tài khoản</div>
        <div class="text-xs mt-2">
          Bạn đã có tài khoản?
          <a
            class="text-blue-500 hover:opacity-70"
            [routerLink]="['/auth/login']"
            >Mời đăng nhập</a
          >
        </div>
      </div>
      <div class="mt-5 grid gap-y-3">
        <div>
          <div class="font-medium mb-1">Tên đăng nhập</div>
          <input
            formControlName="username"
            type="text"
            nz-input
            placeholder="Nhập tên đăng nhập"
            [nzSize]="'default'"
          />
        </div>
        <div>
          <div class="font-medium mb-1">Họ và tên</div>
          <input
            formControlName="fullname"
            type="text"
            nz-input
            placeholder="Nhập họ tên "
            [nzSize]="'default'"
          />
        </div>
        <div>
          <div class="font-medium mb-1">Số điện thoại</div>
          <input
            formControlName="phone"
            [nzSize]="'default'"
            type="text"
            nz-input
            placeholder="Nhập số điện thoại"
          />
        </div>
        <div>
          <div class="font-medium mb-1">Email</div>
          <input
            formControlName="email"
            [nzSize]="'default'"
            type="text"
            nz-input
            placeholder="Nhập email"
          />
        </div>
        <div>
          <div class="font-medium mb-1">Vị trí trong hệ thống</div>
          <nz-select
            nzPlaceHolder="Chọn vị trí"
            class="w-full"
            formControlName="role"
          >
            <nz-option
              *ngFor="let r of Role"
              [nzValue]="r.value"
              [nzLabel]="r.text"
            ></nz-option>
          </nz-select>
        </div>
        <div>
          <div class="font-medium mb-1">Mật khẩu</div>
          <input
            formControlName="password"
            [nzSize]="'default'"
            type="password"
            nz-input
            placeholder="Nhập mật khẩu"
          />
        </div>
        <div>
          <div class="font-medium mb-1">Nhập lại mật khẩu</div>
          <input
            formControlName="repw"
            [nzSize]="'default'"
            type="password"
            nz-input
            placeholder="Nhập mật khẩu"
          />
        </div>
      </div>
    </form>
    <div class="w-full text-center">
      <button
        (click)="create()"
        class="btn-login btn w-2/3 mt-5 text-sm font-medium mx-auto"
      >
        <i class="fa-sharp fa-solid fa-user-plus mr-5"></i>
        <span>Đăng ký</span>
      </button>
    </div>
  </nz-card>
</div>
