<div class="shadow-lg w-80 mt-2 bg-white">
  <div class="p-3">
    <div class="text-center">
      <nz-avatar
        [nzSize]="64"
        nzIcon="user"
        [nzSrc]="information.avatar || avatarDefault"
      ></nz-avatar>
      <div class="text-xl font-medium mt-4">{{ information.fullName }}</div>
      <div class="mt-2">{{ information.email }}</div>
      <div class="mt-2">
        <i
          *ngIf="information.role == 0"
          class="fa-sharp fa-solid fa-user-secret mr-3"
        ></i>
        <i *ngIf="information.role == 1" class="fa-solid fa-user mr-3"></i>
        <span *ngIf="information.role == 0">Admin</span>
        <span *ngIf="information.role == 1">User</span>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="p-3 text-sm">
    <div
      [routerLink]="['/main/setting/change-pw']"
      class="rounded-md hover:bg-gray-100 cursor-pointer p-2"
    >
      <i class="fa-solid fa-key mr-3"></i>
      <span>Đổi mật khẩu</span>
    </div>
    <div
      class="rounded-md hover:bg-gray-100 cursor-pointer p-2"
      [routerLink]="['/main/setting/info']"
    >
      <i class="fa-solid fa-id-card-clip mr-3"></i>
      <span>Thông tin cá nhân</span>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div
    (click)="logOut()"
    class="flex text-red-500 text-sm cursor-pointer items-center justify-center gap-4 hover:bg-gray-100 p-3"
  >
    <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
    <span>Đăng xuất</span>
  </div>
</div>
