<div class="p-10">
  <nz-card class="rounded-xl text-center">
    <div class="text-xl font-medium">Thay đổi mật khẩu</div>
    <div class="mt-2 text-base">Nhập mật khẩu có tối thiểu 6 kí tự</div>
    <form
      [formGroup]="form"
      class="flex flex-col text-center w-full items-center mt-5 gap-y-1"
    >
      <mat-form-field class="w-1/2 field" [appearance]="appearance">
        <mat-label>Mật khẩu hiện tại</mat-label>
        <input
          formControlName="currentPw"
          type="password"
          class="input"
          matInput
        />
        <i
          (click)="hide($event)"
          matSuffix
          class="show cursor-pointer hover:opacity-70 fa-regular fa-eye text-lg hidden"
        ></i>
        <i
          (click)="show($event)"
          matSuffix
          class="cursor-pointer hover:opacity-70 text-lg fa-regular fa-eye-slash hide"
        ></i>
        <mat-hint
          *ngIf="
            form.get('currentPw')?.hasError('required') &&
            form.get('currentPw')?.touched
          "
          class="text-red-500"
          >Trường này là bắt buộc</mat-hint
        >
      </mat-form-field>
      <mat-form-field class="w-1/2 field" [appearance]="appearance">
        <mat-label>Mật khẩu mới</mat-label>
        <input formControlName="newPw" type="password" class="input" matInput />
        <i
          (click)="hide($event)"
          matSuffix
          class="show cursor-pointer hover:opacity-70 fa-regular fa-eye text-lg hidden"
        ></i>
        <i
          (click)="show($event)"
          matSuffix
          class="cursor-pointer hover:opacity-70 text-lg fa-regular fa-eye-slash hide"
        ></i>
        <mat-hint
          *ngIf="
            form.get('newPw')?.invalid &&
            (form.get('newPw')?.dirty || form.get('newPw')?.touched)
          "
          class="text-red-500"
        >
          <div *ngIf="form.get('newPw')?.hasError('required')">
            Trường này là bắt buộc
          </div>
          <div *ngIf="form.get('newPw')?.hasError('minlength')">
            Mật khẩu mới tối thiểu 8 kí tự
          </div>
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="w-1/2 field" [appearance]="appearance">
        <mat-label>Xác nhận mật khẩu</mat-label>
        <input
          formControlName="reNewPw"
          type="password"
          class="input"
          matInput
        />
        <i
          (click)="hide($event)"
          matSuffix
          class="show cursor-pointer hover:opacity-70 fa-regular fa-eye text-lg hidden"
        ></i>
        <i
          (click)="show($event)"
          matSuffix
          class="cursor-pointer hover:opacity-70 text-lg fa-regular fa-eye-slash hide"
        ></i>
        <mat-hint
          *ngIf="form.get('reNewPw')?.invalid && form.get('reNewPw')?.touched"
          class="text-red-500"
        >
          <div *ngIf="form.get('reNewPw')?.hasError('required')">
            Trường này là bắt buộc
          </div>
        </mat-hint>
        <mat-hint
          *ngIf="form.invalid && form.get('reNewPw')?.touched"
          class="text-red-500"
        >
          <div
            *ngIf="
              form.hasError('matchPasswords') &&
              form.get('reNewPw')?.touched &&
              !form.get('reNewPw')?.hasError('required')
            "
          >
            Mật khẩu nhập lại không chính xác
          </div>
        </mat-hint>
      </mat-form-field>
      <div class="flex items-center gap-x-4">
        <button type="button" nz-button nzSize="large" nzType="default">
          Hủy
        </button>
        <button
          (click)="save()"
          [disabled]="form.invalid"
          nz-button
          nzSize="large"
          nzType="primary"
        >
          Đổi mật khẩu
        </button>
      </div>
    </form>
  </nz-card>
</div>
