:host ::ng-deep .mat-form-field-flex {
  align-items: center;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: none;
  background-image: none;
}
