<div
  class="border-r border-slate-300 h-full pt-7 py-2 pl-2 pr-5 flex flex-col gap-y-2 text-base font-medium"
>
  <div [routerLink]="['/main']" class="cursor-pointer hover:opacity-70 text-sm">
    <i class="fa-solid fa-arrow-left mr-2"></i><span>Quay lại</span>
  </div>
  <ng-container
    *ngFor="let item of Menu"
    [ngTemplateOutlet]="sidebar"
    [ngTemplateOutletContext]="{ $implicit: item }"
  >
  </ng-container>
</div>
<ng-template #sidebar let-item>
  <div
    [routerLink]="[item.routerLink]"
    routerLinkActive="active"
    class="hover:bg-blue-500 rounded-md hover:text-white flex items-center gap-x-4 p-2 cursor-pointer"
  >
    <div [innerHTML]="item.icon"></div>
    <div>{{ item.text }}</div>
  </div>
</ng-template>
