<div
  [ngStyle]="{ width: isCollapse ? '64px' : '182px' }"
  class="bg-[#041434] py-5 px-3 h-sreen min-h-full sidebar text-gray-500 text-base font-normal relative"
>
  <div
    *ngFor="let sidebar of role === 'Admin' ? sideBarAdmin : sideBarUser"
    routerLink="{{ sidebar.navigate }}"
    routerLinkActive="active"
    class="hover:bg-blue-500 hover:text-white hover:font-base p-3 cursor-pointer rounded-md mb-2"
  >
    <span [innerHTML]="sidebar.icon" class="mr-2"></span>
    <span *ngIf="!isCollapse">{{ sidebar.text }}</span>
  </div>

  <div
    (click)="toggleCollapse()"
    class="absolute bottom-0 right-0 left-0 p-3 border-t border-gray-500 hover:bg-[#0c2760] cursor-pointer"
  >
    <div *ngIf="!isCollapse">
      <i class="fa-solid fa-angle-left mr-3"></i>
      <span class="w-full">Thu gọn</span>
    </div>
    <div *ngIf="isCollapse" class="w-full text-center">
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
</div>
