<div style="margin: auto">
  <div class="font-medium text-lg">Giờ vào làm: {{ timeIn }}</div>
  <div *ngIf="role === 'Admin'" class="w-full text-right">
    <button (click)="setting()" class="btn-white">
      <i class="fa-solid fa-gears"></i>
    </button>
  </div>
  <nz-calendar
    [ngModel]="dateNow"
    [(nzMode)]="mode"
    (nzPanelChange)="panelChange($event)"
    [nzDateCell]="cellCalendar"
  ></nz-calendar>
</div>
<ng-template #cellCalendar let-date>
  <div
    class="h-full flex flex-col"
    [ngClass]="{ 'text-gray-400': (date | date) != (dateNow | date) }"
  >
    <ng-container
      *ngIf="
        date.getMonth() === dateNow.getMonth() &&
        date.getDate() <= dateNow.getDate()
      "
      [ngTemplateOutlet]="detail"
      [ngTemplateOutletContext]="{
        data: getDateOfMapList(date.getDate()),
        date: date
      }"
    >
    </ng-container>
  </div>
</ng-template>
<ng-template let-data="data" let-date="date" #detail>
  <div class="grow flex justify-between items-center">
    <button class="text-white font-medium text-xs">
      <div
        class="bg-green-500 px-2 rounded-sm"
        *ngIf="data?.status && data.isCheckin"
      >
        Đúng giờ
      </div>
      <div
        class="bg-red-500 px-2 rounded-sm"
        *ngIf="!data?.status && data?.isCheckin"
      >
        Trễ giờ
      </div>
      <div
        class="bg-gray-400 px-2 rounded-sm"
        *ngIf="!data?.isCheckin && !data?.isCheckout"
      >
        Chưa chấm công
      </div>
    </button>
  </div>
  <div
    (click)="selectChange(date, 1, data)"
    class="text-xs text-green-400 italic hover:opacity-70"
    *ngIf="(date | date) === (dateNow | date) && !data?.isCheckin"
  >
    Nhấn vào đây để vào ca
  </div>
  <div
    (click)="selectChange(date, 2, data)"
    class="text-xs text-red-400 italic hover:opacity-70"
    *ngIf="
      (date | date) === (dateNow | date) && data?.isCheckin && !data.isCheckout
    "
  >
    Nhấn vào đây để tan ca
  </div>
  <div class="text-xs flex items-center justify-between grow">
    <span>Vào: {{ data?.in | date : "HH:mm " }}</span>
    <span>Tan: {{ data?.out | date : "HH:mm " }}</span>
  </div>
</ng-template>
