<div
  #container
  class="object-cover h-screen flex justify-center items-center container"
  [style.background-image]="backgroundLogin"
>
  <nz-card
    class="w-[400px] h-[400px] m-auto rounded-2xl p-3"
    [nzBordered]="false"
  >
    <div class="flex items-center space-x-5 justify-center">
      <img [src]="logo" class="w-10" />
      <div class="font-medium text-3xl text-center">HRM</div>
    </div>
    <form [formGroup]="form" class="mt-10">
      <input
        nz-input
        placeholder="Tài khoản"
        [nzSize]="'large'"
        formControlName="username"
      />
      <input
        type="password"
        class="mt-5"
        nz-input
        placeholder="Mật khẩu"
        [nzSize]="'large'"
        formControlName="password"
      />
      <div>
        <span
          (click)="forgotPw()"
          class="mt-2 block text-blue-400 cursor-pointer hover:opacity-70"
          >Quên mật khẩu</span
        >
      </div>
      <button
        [disabled]="!form.valid"
        (click)="logIn()"
        class="btn-login btn w-full mt-5 text-base font-medium"
      >
        <app-spinner *ngIf="isLoading" class="mr-5"></app-spinner>
        <i
          *ngIf="!isLoading"
          class="fa-solid fa-arrow-right-to-bracket mr-5"
        ></i>
        <span>Đăng nhập</span>
      </button>
    </form>
    <button
      (click)="createAcc()"
      class="btn bg-slate-200 justify-center w-full mt-5 flex items-center text-base font-medium"
    >
      <!-- <img class="w-7 mr-3" [src]="googleIcon" alt="" /> -->
      <span class="text-black">
        <i class="fa-sharp fa-solid fa-user-plus mr-5"></i>
        <span> Đăng ký </span>
      </span>
    </button>
  </nz-card>
</div>
