<div class="block h-16 shadow-md fixed top-0 left-0 right-0 z-10 bg-white">
  <div class="flex items-center justify-between px-2 h-full">
    <div
      class="flex items-center cursor-pointer"
      (click)="navigateToHome()"
      [routerLink]="['/main']"
    >
      <img [src]="logo" class="w-10 mr-2" />
      <span class="font-medium text-xl">HRM</span>
    </div>
    <nz-avatar
      nz-dropdown
      [nzDropdownMenu]="menu"
      class="cursor-pointer"
      [nzSize]="55"
      [nzSrc]="avatar"
      nzTrigger="click"
    ></nz-avatar>
    <nz-dropdown-menu #menu>
      <app-dropdown [information]="(information$ | async) || {}"></app-dropdown>
    </nz-dropdown-menu>
  </div>
</div>
