<form [formGroup]="form" class="flex flex-col">
  <mat-form-field [appearance]="appearance" class="w-full">
    <mat-label>Tên</mat-label>
    <input formControlName="name" matInput placeholder="Nhập tên phòng ban" />
  </mat-form-field>
  <mat-hint
    style="margin-top: -10px"
    *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
    class="text-red-500"
  >
    <div class="text-xs" *ngIf="form.get('name')?.hasError('required')">
      Trường này là bắt buộc
    </div>
  </mat-hint>
  <mat-form-field [appearance]="appearance" class="w-full">
    <mat-label>Mô tả</mat-label>
    <input formControlName="des" matInput placeholder="Nhập mô tả" />
  </mat-form-field>
  <mat-form-field [appearance]="appearance" class="w-full">
    <mat-label>Thêm nhân viên</mat-label>
    <mat-select formControlName="emp" multiple>
      <mat-option
        *ngFor="let employee of employeeList"
        [value]="employee.employeeId"
        >{{ employee.fullName }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>
<div *nzModalFooter>
  <app-option-btn
    (selected$)="handleEmitSelected($event)"
    [isValid]="form.valid"
  ></app-option-btn>
</div>
