<div class="p-10">
  <nz-card class="rounded-xl">
    <div class="flex justify-between">
      <div class="font-medium text-xl">Thông tin cơ bản</div>
      <span
        *ngIf="!isEdit"
        (click)="edit()"
        class="text-blue-500 cursor-pointer hover:opacity-70"
        >Chỉnh sửa</span
      >
    </div>
    <div *ngIf="!isEdit">
      <div
        *ngFor="let data of infoView"
        class="mt-4 py-2 border-b grid grid-cols-5"
      >
        <span class="col-span-1">{{ data.label }}</span>
        <span class="text-base col-span-4">{{ data.value }}</span>
      </div>
    </div>
    <div *ngIf="isEdit">
      <form [formGroup]="form" class="flex flex-col mt-3">
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Họ và tên</mat-label>
          <input matInput formControlName="fullname" />
        </mat-form-field>
        <nz-radio-group [nzSize]="'large'" formControlName="gender">
          <label nz-radio [nzValue]="1">Nam</label>
          <label nz-radio [nzValue]="0">Nữ</label>
          <label nz-radio [nzValue]="2">Khác</label>
        </nz-radio-group>
        <mat-form-field [appearance]="appearance" class="w-fit flex">
          <mat-label>Ngày sinh</mat-label>
          <input
            formControlName="dob"
            id="datepicker"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Số điện thoại</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Số CMND/CCCD</mat-label>
          <input matInput formControlName="cccd" />
        </mat-form-field>
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Địa chỉ liên hệ</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
          <mat-label>Phòng ban</mat-label>
          <mat-select formControlName="department">
            <mat-option
              *ngFor="let department of departmentList"
              [value]="department.departmentId"
            >
              {{ department.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Vai trò trong hệ thống</mat-label>
          <input [readonly]="true" matInput formControlName="role" />
        </mat-form-field>
        <mat-form-field class="w-full" [appearance]="appearance">
          <mat-label>Vị trí công việc</mat-label>
          <mat-select formControlName="position">
            <mat-option
              *ngFor="let position of Positions"
              [value]="position.value"
            >
              {{ position.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button
        (click)="isEdit = false"
        nz-button
        [nzSize]="'large'"
        nzType="default"
        class="mr-3"
      >
        Hủy
      </button>
      <button (click)="save()" nz-button [nzSize]="'large'" nzType="primary">
        Lưu
      </button>
    </div>
  </nz-card>
</div>
