<div mat-dialog-title *ngIf="data.type === 1">Vào ca</div>
<div mat-dialog-title *ngIf="data.type === 2">Tan ca</div>
<div class="text-lg">
  Thời gian hiện tại: {{ currentTime | date : "medium" }}
</div>
<div mat-dialog-actions>
  <button class="btn-white" (click)="close()">Hủy</button>
  <button *ngIf="data.type === 1" class="btn-blue" (click)="checkin()">
    Vào ca
  </button>
  <button *ngIf="data.type === 2" class="btn-black" (click)="checkout()">
    Tan ca
  </button>
</div>
