<div class="grid grid-cols-5 h-full pt-3 pl-3 pb-3">
  <div class="col-span-1">
    <app-sidebar-setting></app-sidebar-setting>
  </div>
  <div class="col-span-4 pr-[-10px] h-[1000px] bg-gray-50">
    <router-outlet></router-outlet>
  </div>
</div>
