<div mat-dialog-title>Quên mật khẩu</div>
<div>
  <form [formGroup]="form">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Nhập tên tài khoản</mat-label>
      <input formControlName="username" matInput />
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('username')?.hasError('required') &&
        form.get('username')?.touched
      "
      class="text-red-500 text-xs"
      >Trường này là bắt buộc</mat-hint
    >
    <mat-form-field class="w-full mt-5" appearance="outline">
      <mat-label>Nhập email bạn đã đăng kí cho tài khoản</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('email')?.hasError('required') && form.get('email')?.touched
      "
      class="text-red-500 text-xs"
      >Trường này là bắt buộc</mat-hint
    >
  </form>
</div>
<div mat-dialog-actions>
  <app-option-btn
    [buttons]="['Hủy', 'OK']"
    (selected$)="handleEmitSelected($event)"
    [isValid]="form.valid"
  ></app-option-btn>
</div>
