<div class="relative overflow-x-auto overflow-y-hidden">
  <div class="text-lg font-medium">
    <span> Danh sách phòng ban </span>
    <span *ngIf="count">({{ count }})</span>
  </div>
  <div class="p-2 flex items-center justify-between">
    <button (click)="add()" class="btn-blue">
      <i class="fa-solid fa-plus mr-2"></i>
      <span>Thêm mới</span>
    </button>
    <div class="bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          (input)="search($event)"
          type="text"
          id="table-search"
          class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Tìm kiếm phòng ban theo tên"
        />
      </div>
    </div>
  </div>
  <app-table
    [headerList]="headerList"
    [data]="data"
    [screen]="Screen.DEPARTMENT"
    (isSave$)="handleSaveEmit($event)"
    (delete$)="handleDeleteEmit($event)"
  ></app-table>
</div>
