<p class="italic text-red-500 text-sm">
  * Về chức năng thêm mới nhân viên: Bạn Tạo mới 1 tài khoản mới cho nhân viên
  rồi gửi tài khoản mật khẩu cho nhân viên của bạn để đăng nhập vào hệ thống
</p>
<div [formGroup]="form" class="grid grid-cols-2 gap-x-4 gap-y-4">
  <div>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Họ tên</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('name')?.hasError('required') && form.get('name')?.touched
      "
      class="text-red-500 text-xs"
      >Trường này là bắt buộc</mat-hint
    >
  </div>
  <div>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Tài khoản</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('username')?.hasError('required') &&
        form.get('username')?.touched
      "
      class="text-red-500 text-xs"
      >Trường này là bắt buộc</mat-hint
    >
  </div>
  <div>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Mật khẩu</mat-label>
      <input matInput formControlName="pw" type="password" />
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('pw')?.invalid &&
        (form.get('pw')?.dirty || form.get('pw')?.touched)
      "
      class="text-red-500 text-xs"
    >
      <div *ngIf="form.get('pw')?.hasError('required')">
        Trường này là bắt buộc
      </div>
      <div *ngIf="form.get('pw')?.hasError('minlength')">
        Mật khẩu tối thiểu 6 kí tự
      </div>
    </mat-hint>
  </div>
  <div>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Nhập lại mật khẩu</mat-label>
      <input matInput formControlName="rePw" type="password" />
    </mat-form-field>
    <mat-hint
      *ngIf="form.get('rePw')?.invalid && form.get('rePw')?.touched"
      class="text-red-500 text-xs"
    >
      <div *ngIf="form.get('rePw')?.hasError('required')">
        Trường này là bắt buộc
      </div>
    </mat-hint>
    <mat-hint
      *ngIf="form.invalid && form.get('rePw')?.touched"
      class="text-red-500 text-xs"
    >
      <div
        *ngIf="
          form.hasError('matchPasswords') &&
          form.get('rePw')?.touched &&
          !form.get('rePw')?.hasError('required')
        "
      >
        Mật khẩu nhập lại không chính xác
      </div>
    </mat-hint>
  </div>
  <div>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Vị trí công việc</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of Positions" [value]="position.value">
          {{ position.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('position')?.hasError('required') &&
        form.get('position')?.touched
      "
      class="text-red-500 text-xs"
      >Trường này là bắt buộc</mat-hint
    >
  </div>
  <div>
    <mat-form-field class="w-full" [appearance]="appearance">
      <mat-label>Vai trò trong hệ thống</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roleList" [value]="role.value">
          {{ role.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-hint
      *ngIf="
        form.get('role')?.hasError('required') && form.get('role')?.touched
      "
      class="text-red-500 text-xs"
      >Trường này là bắt buộc</mat-hint
    >
  </div>
</div>
<div *nzModalFooter>
  <app-option-btn
    [isValid]="form.valid"
    (selected$)="handleEmitSelected($event)"
  ></app-option-btn>
</div>
